<div class="topMargin" >
    <h4 class="text-center">Welcome to the Weather App for USA</h4>
    <div class="list list-inset">
        <p>Simply share your location or enter any zip code and get weather results in real time</p>
        <h5>Note: Please have your device location enabled to share your location with app</h5>

        <button class="button button-full button-positive" ng-click="$root.ShareLocation(zipcode)">
            Share location
        </button>
        <br />
        <br />
        <label class="item item-input">
            <i class="ion-location placeholder-icon"></i>
            <input type="text" placeholder="Zip Code" ng-model="zipcode">
        </label>


        <button class="button button-full button-positive" ng-click="SubmitZipCode(zipcode)">
            Get Weather 
        </button>
    </div>
    
</div>