<!-- Weather page simply reads the information set into the $rootScope.WeatherData object-->
<div  class="topMargin">
    <div class="row">
          <div class="col"><p class="note">  WEATHER</p></div>
</div>
    <div class="row">
        <div class="col ">
            <h3 class="text-capitalize">{{$root.weatherData.mainWeather}} </h3>
            <p class="item-note">{{$root.weatherData.description}}</p>
</div>
        <div class="col">
               <h1 class="text-right">{{$root.weatherData.tempF}} <span class="degree">&deg;F</span></h1>
</div> 
    </div>
     <div class="list">
        <i class="item">
            <strong>
                Wind Speed
                </strong>
                <span class="item-note">
                    {{$root.weatherData.windSpeedMPS}}
                </span>
</i>
        <i class="item">
            <strong>
                Cloudiness
                </strong>
                <span class="item-note">
                    {{$root.weatherData.cloudiness}}
                </span>
</i>
        <i class="item">
            <strong>
                Pressure
                </strong>
                <span class="item-note">
                    {{$root.weatherData.pressure}}
                </span>
</i>
        <i class="item">
            <strong>
                Humidity
                </strong>
                <span class="item-note">
                    {{$root.weatherData.humidity}}
                </span>
</i>
        <i class="item">
            <strong>
                Sunrise
                </strong>
                <span class="item-note">
                    {{$root.weatherData.sunrise}}
                </span>
</i>
         <i class="item">
             <strong>
                 Sunset
                 </strong>
                 <span class="item-note">
                     {{$root.weatherData.sunset}}
                 </span>
</i>

      
    </div>
    <div class="row">
        <div class="col"><p class="note">  Measured: {{$root.weatherData.city}}</p></div>
    </div>
</div>
